<h1>File Viewer</h1>

<div>
   <%= form_for Kml.new do |f| %>
      <%= f.file_field :attachment %>
      <%= f.submit "Submit to Map" %>
   <% end %>
</div>
<br>
<p>Your file url:</p>
<% if @kml.present? %>
  <p>https://fileviewer.herokuapp.com <%= @kml.attachment_url.to_s %></p>
<% end %>

<div id="map" style="width:100%; max-width:1200px; height:425px; background:grey;"></div>

<script>
function myMap() {
var mapOptions = {
    center: new google.maps.LatLng(40, -95),
    zoom: 4
}
var map = new google.maps.Map(document.getElementById("map"), mapOptions);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMqNZLZFf39QPkp2ZnAPmZip3todd6cJ0=myMap"></script>   

    <style>
      html, body {
        height: 370px;
        padding: 10;
        margin: 10;
        }
      #map {
       height: 425px;
       width: 900px;
       overflow: hidden;
       float: left;
       border: thin solid #333;
       }
      #capture {
       height: 360px;
       width: 480px;
       overflow: hidden;
       float: left;
       background-color: #ECECFB;
       border: thin solid #333;
       border-left: none;
       }
    </style>
  
    <!-- <div id="map"></div> -->
    <!-- <div id="capture"></div> -->
    <% if @kml.present? %>
    <script>
      var map;
      var src = 'https://fileviewer.herokuapp.com <%= @kml.attachment_url.to_s %>';

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(40, -95),
          zoom: 4,
          mapTypeId: 'terrain'
        });

        var kmlLayer = new google.maps.KmlLayer(src, {
          suppressInfoWindows: true,
          preserveViewport: false,
          map: map
        });
        kmlLayer.addListener('click', function(event) {
          var content = event.featureData.infoWindowHtml;
          var testimonial = document.getElementById('capture');
          testimonial.innerHTML = content;
        });
      }
    </script>
    
     <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMqNZLZFf39QPkp2ZnAPmZip3todd6cJ0&callback=initMap">
    </script>
<% end %>