<h1>File Viewer</h1>
<!-- kml form -->
<div>
   <%= form_for Kml.new do |f| %>
      <%= f.file_field :attachment %>
      <%= f.submit "Submit to Map" %>
   <% end %>
</div>
<p>current session_id: <%= @current_session %></p>
<% if Kml.last.nil? %>
<% else %>
  <p><b>Your file url:</b> https://fileviewer.herokuapp.com<%= Kml.last.attachment_url.to_s %></p>
<% end %>

<!-- google map api -->
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4QdiJImYGpYlOT-Ceqn6dB6IOfkTS22k&callback=initMap">
</script>

<!-- custom kml map -->
 <div id="capture" style="width:20%; max-width:250px;"></div> 
 <div id="map" style="width:75%; max-width:1200px; height:425px; background:grey;"></div>
 <div id="capture"></div>     
    <script>
      var map;
      // https://developers.google.com/maps/documentation/javascript/examples/kml/westcampus.kml
      // https://fileviewer.herokuapp.com/uploads/tmp/westcampus.kml
      // 'https://fileviewer.herokuapp.com<%= @kml.attachment_url.to_s %>'
      <% if @kml.nil? %>
      <% else %>
        var src = 'https://developers.google.com/maps/documentation/javascript/examples/kml/westcampus.kml';
      <% end %>

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: new google.maps.LatLng(40, -95),
          zoom: 4,
          mapTypeId: 'terrain'
        });

        var kmlLayer = new google.maps.KmlLayer(src, {
          suppressInfoWindows: true,
          preserveViewport: false,
          map: map
        });
        kmlLayer.addListener('click', function(event) {
          var content = event.featureData.infoWindowHtml;
          var testimonial = document.getElementById('capture');
          testimonial.innerHTML = content;
        });
      }
    </script> 

<!-- google example styles -->
    <style>
      html, body {
        height: 370px;
        padding: 10;
        margin: 10;
        }
      #map {
       height: 425px;
       width: 900px;
       overflow: hidden;
       float: left;
       border: thin solid #333;
       }
      #capture {
       /*height: 360px;
       width: 480px;*/
       overflow: hidden;
       float: left;
       background-color: #ECECFB;
       border: thin solid #333;
       /*border-left: none;*/
       }
    </style>


